<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<p th:text="#{home.welcome}">Welcome to my homepage</p>
	<form th:action="@{/reg/reg.do}" method="post">
	<label th:text="${msg}"></label>
	<table>
		<tr>
			<td>用户名：</td>
			<td><input type="text" name="username"/></td>
		</tr>
		<tr>
			<td>密码：</td>
			<td><input type="password" name="password"/></td>
		</tr>
		<tr>
			<td>确认密码：</td>
			<td><input type="password" name="rpassword"/></td>
		</tr>
		<tr>
			<td>邮箱：</td>
			<td><input type="text" name="email"/></td>
		</tr>
		<tr>
			<td>电话：</td>
			<td><input type="text" name="phone"/></td>
		</tr>
		<tr>
			<td><input type="submit" /></td>
		</tr>
	</table>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		
	})
	
	function loadlist(){
		async:true,
		
	}
</script>
</html>